- if @members[:meta]["member-types"].present?
  .panel.facets
    .panel-body
      %h4
        Member Types
      %ul
        - @members[:meta]["member-types"].each do |f|
          %li
            - if @params["member-type"] == f.fetch("id", nil)
              %a{:href => "/members?region=#{params[:region]}&year=#{params[:year]}&query=#{params[:query]}"}
                %i.far.fa-check-square
            - else
              %a{:href => "/members?member-type=#{f.fetch("id", nil)}&region=#{params[:region]}&year=#{params[:year]}&query=#{params[:query]}"}
                %i.far.fa-square
            .facet-title
              = f.fetch("title", nil)
            %span.number.pull-right
              = number_with_delimiter(f.fetch("count", 0))
            .clearfix

- if @members[:meta]["regions"].present?
  .panel.facets
    .panel-body
      %h4
        Regions
      %ul
        - @members[:meta]["regions"].each do |f|
          %li
            - if params[:region].present?
              %a{:href => "/members?member-type=#{params['member-type']}&year=#{params[:year]}&query=#{params[:query]}"}
                %i.far.fa-check-square
            - else
              %a{:href => "/members?region=#{f.fetch("id", nil)}&member-type=#{params['member-type']}&year=#{params[:year]}&query=#{params[:query]}"}
                %i.far.fa-square
            .facet-title
              = f.fetch("title", nil)
            %span.number.pull-right
              = number_with_delimiter(f.fetch("count", 0))
            .clearfix

- if @members[:meta]["years"].present?
  .panel.facets
    .panel-body
      %h4
        Year Joined
      %ul
        - @members[:meta]["years"].each do |f|
          %li
            - if params[:year].present?
              %a{:href => "/members?member-type=#{params['member-type']}&region=#{params[:region]}&query=#{params[:query]}"}
                %i.far.fa-check-square
            - else
              %a{:href => "/members?year=#{f.fetch("id", nil)}&member-type=#{params['member-type']}&region=#{params[:region]}&query=#{params[:query]}"}
                %i.far.fa-square
            .facet-title
              = f.fetch("title", nil)
            %span.number.pull-right
              = number_with_delimiter(f.fetch("count", 0))
            .clearfix
