- if @meta["member-types"].present?
  .panel.facets
    .panel-body
      %h4
        Member Types
      %ul
        - @meta["member-types"].each do |mt|
          %li
            - if @params["member-type"].present?
              %a{:href => "/members?query=#{params[:query]}"}
                %i.fa.fa-check-square-o
            - else
              %a{:href => "/members?member-type=#{mt.first}&query=#{params[:query]}"}
                %i.fa.fa-square-o
            .facet-title
              = mt.first
            %span.number.pull-right
              = number_with_delimiter(mt.last)
            .clearfix

- if @meta["regions"].present?
  .panel.facets
    .panel-body
      %h4
        Regions
      %ul
        - @meta["regions"].each do |r|
          %li
            - if params[:region].present?
              %a{:href => "/members?query=#{params[:query]}"}
                %i.fa.fa-check-square-o
            - else
              %a{:href => "/members?region=#{r.first}&query=#{params[:query]}"}
                %i.fa.fa-square-o
            .facet-title
              = region_format("region" => r.first)
            %span.number.pull-right
              = number_with_delimiter(r.last)
            .clearfix

- if @meta["years"].present?
  .panel.facets
    .panel-body
      %h4
        Year Joined
      %ul
        - @meta["years"].each do |y|
          %li
            - if params[:year].present?
              %a{:href => "/members?query=#{params[:query]}"}
                %i.fa.fa-check-square-o
            - else
              %a{:href => "/members?year=#{y.first}&query=#{params[:query]}"}
                %i.fa.fa-square-o
            .facet-title
              = y.first
            %span.number.pull-right
              = number_with_delimiter(y.last)
            .clearfix
