= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9
        = haml :'members/search'

    .row
      .col-md-9.panel-list#content
        - if @members[:data].length > 0
          - if @members[:data].length > 1
            %h3.results
              = "#{number_with_delimiter(@members[:meta]["total"])} Members"

          - @members[:data].each do |item|
            = haml :'members/item', locals: { item: item }

          .text-center
            = will_paginate @members[:data], renderer: BootstrapPagination::Sinatra, inner_window: 1

        - elsif @members[:errors].present?
          .alert.alert-warning
            = @members[:errors].first.fetch("title", "")
        - else
          .alert.alert-simple-info
            Nothing found.

      .col-md-3
        = haml :'members/facets'

= haml :"#{ENV['RA']}/footer"
