= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9#content-work
        - if @member_error.present?
          %div.alert.alert-warning
            = @member_error
        - elsif @member.present?
          = haml :'members/item', locals: { item: @member[:data] }

      - if @member[:data].present? && @member[:data].fetch("attributes", {}).fetch("member-type", nil) == "allocating"
        .col-md-9
          = haml :'works/search'

        .col-md-9.panel-list#content-works
          = haml :'works/list'

        .col-md-3
          = haml :'works/facets'

= haml :cite_box

= haml :"#{ENV['RA']}/footer"
