.row.footer
  .container-fluid
    .col-md-3
      %h4
        About DataCite
      %ul
        - settings.about_links.each do |item|
          %li
            %a{:href => item['url']}
              = item['name']
    .col-md-3
      %h4
        Services
      %ul
        - settings.services_links.each do |item|
          %li
            %a{:href => item['url']}
              = item['name']
    .col-md-3
      %h4
        Resources
      %ul
        - settings.resources_links.each do |item|
          %li
            %a{:href => item['url']}
              = item['name']
      %h4
        Community
      %ul
        - settings.community_links.each do |item|
          %li
            %a{:href => item['url']}
              = item['name']

    .col-md-3
      %h4.share Contact us
      %a{href: "mailto:support@datacite.org", class: "share"}
        %i.fa.fa-envelope.fa-2x
      %a{href: "https://blog.datacite.org", class: "share"}
        %i.fa.fa-rss.fa-2x
      %a{href: "https://twitter.com/datacite", class: "share"}
        %i.fa.fa-twitter.fa-2x
      %a{href: "https://www.facebook.com/datacite", class: "share"}
        %i.fa.fa-facebook.fa-2x
      %a{href: "https://www.linkedin.com/company/datacite", class: "share"}
        %i.fa.fa-linkedin.fa-2x

      %ul.share
        - settings.contact_links.each do |item|
          %li
            %a{:href => item['url']}
              = item['name']
