.header{id: "navtop"}
  .navbar.navbar-default.navbar-static-top{role: "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{type: 'button', data: { toggle: "collapse", target: ".navbar-collapse"}}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      - unless @meta[:page] == "splash"
        %a.navbar-brand{:href => "/"}
          = ENV['SITE_TITLE']
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/works"}
              Works
          %li
            %a{:href => "/people"}
              People
          %li
            %a{:href => "/data-centers"}
              Data Centers
          %li
            %a{:href => "/members"}
              Members
          %li
            %a{:href => "https://support.datacite.org"}
              Support
          %li.dropdown
            %a.dropdown-toggle{href: '#', data: { toggle: "dropdown"}, aria: { haspopup: "true", expanded: "false" }}
              %i.fa.fa-th
              %span.caret
            %ul.dropdown-menu{role: 'menu'}
              - if ENV['RACK_ENV'] == "development"
                %li.dropdown-header
                  Development
                - settings.development_links.each do |item|
                  - if item['name'] == "divider"
                    %li.divider
                  - else
                    %li
                      %a{:href => item['url']}
                        %i.fa{class: "fa-#{item['icon']}"}
                        = item['name']
              - elsif ENV['RACK_ENV'] == "stage"
                %li.dropdown-header
                  Test Services
                - settings.stage_links.each do |item|
                  - if item['name'] == "divider"
                    %li.divider
                  - else
                    %li
                      %a{:href => item['url']}
                        %i.fa.fa-fw{class: "fa-#{item['icon']}"}
                        = item['name']
              - else
                - settings.production_links.each do |item|
                  - if item['name'] == "divider"
                    %li.divider
                  - else
                    %li
                      %a{:href => item['url']}
                        %i.fa.fa-fw{class: "fa-#{item['icon']}"}
                        = item['name']

          - if ENV['JWT_HOST'].present?
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{href: '#', id: "account_menu_link", data: { toggle: "dropdown"}, aria: { haspopup: "true", expanded: "false" }}
                  %image{src: current_user.image_url, class: "img-circle img-no-padding"}
                  %span.caret
                %ul.dropdown-menu{role: 'menu'}
                  %li
                    %a{:href => "#{ENV['JWT_HOST']}/users/me"}
                      %i.fa.fa-user
                      Settings
                  %li
                    %a{:href => "/people/#{current_user.orcid}"}
                      %i.fa.fa-files-o
                      Works
                  %li.divider
                  %li
                    %a{:href => "#{ENV['ORCID_URL']}/#{current_user.orcid}"}
                      %i.fa.fa-external-link
                      ORCID Record
                  %li.divider
                    %li
                      %a{:href => "#{ENV['JWT_HOST']}/sign_out"}
                        %i.fa.fa-sign-out
                        Sign out
            - else
              %li
                %a.btn.btn-sm{:href => "#{ENV['JWT_HOST']}/sign_in", id: 'sign-in'}
                  %i.fa.fa-sign-in
                  Sign in
