.header{id: "navtop"}
  .navbar.navbar-default.navbar-static-top{role: "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{type: 'button', data: { toggle: "collapse", target: ".navbar-collapse"}}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      - unless @meta[:page] == "splash"
        %a.navbar-brand{:href => "/"}
          = ENV['SITE_TITLE']
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/works"}
              Works
          %li
            %a{:href => "/people"}
              People
          %li
            %a{:href => "/data-centers"}
              Data Centers
          %li
            %a{:href => "/members"}
              Members
          %li
            %a{:href => "https://support.datacite.org"}
              Support
          - if ENV['JWT_HOST'].present?
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{href: '#', id: "account_menu_link", data: { toggle: "dropdown"}, aria: { haspopup: "true", expanded: "false" }}
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu{role: 'menu'}
                  - if is_person?
                    %li
                      %a{:href => "#{ENV['JWT_HOST']}/users/me"}
                        %i.fa.fa-cog
                        Settings
                    %li
                      %a{:href => "/people/#{current_user.orcid}"}
                        %i.fa.fa-files-o
                        Works
                    %li.divider
                    %li
                      %a{:href => "#{ENV['ORCID_URL']}/#{current_user.orcid}"}
                        %i.fa.fa-external-link
                        ORCID Record
                    %li.divider
                      %li
                        %a{:href => "#{ENV['JWT_HOST']}/sign_out"}
                          %i.fa.fa-sign-out
                          Sign out
                  - else
                    %li.dropdown-header
                      = "Role: " + current_user.role_id 
                    %li
                      %a{:href => "#{ENV['FABRICA_URL']}/settings"}
                        %i.fa.fa-cog
                        Settings
                    %li.divider
                    %li
                      %a{:href => "#{ENV['FABRICA_URL']}/sign-out"}
                        %i.fa.fa-sign-out
                        Sign out
            
            - else
              %li
                %a.btn.btn-sm{:href => "#{ENV['JWT_HOST']}/sign_in", id: 'sign-in'}
                  %i.fa.fa-sign-in
                  Sign in
