.header{id: "navtop"}
  .navbar.navbar-default.navbar-static-top{role: "navigation"}
    .container-fluid
      .panel-danger
        .panel-heading
          The DataCite Search service will be discontinued on 
          %strong
            June 1, 2023. 
          All the functionalities of DataCite Search are now available in
          %a{:href => "https://commons.datacite.org"}
            DataCite Commons
          \. If you have any questions, please contact
          %a{:href => "mailto:support@datacite.org"}
            support@datacite.org
          \.
      .navbar-header
        %button.navbar-toggle{type: 'button', data: { toggle: "collapse", target: ".navbar-collapse"}}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      - unless @meta[:page] == "splash"
        %a.navbar-brand{:href => "/"}
          = ENV['SITE_TITLE']
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/works"}
              Works
          %li
            %a{:href => "/people"}
              People
          %li
            %a{:href => "/repositories"}
              Repositories
          %li
            %a{:href => "/members"}
              Members
          %li
            %a{:href => "https://support.datacite.org"}
              Support
          - if ENV['JWT_HOST'].present?
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{href: '#', id: "account_menu_link", data: { toggle: "dropdown"}, aria: { haspopup: "true", expanded: "false" }}
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu{role: 'menu'}
                  - if is_person?
                    %li
                      %a{:href => "#{ENV['JWT_HOST']}/settings/me"}
                        %i.fas.fa-user-cog
                        Settings
                    %li
                      %a{:href => "#{ENV['COMMONS_URL']}/orcid.org/#{current_user.orcid}"}
                        %i.fas.fa-address-card
                        Commons Page
                    %li.divider
                    %li
                      %a{:href => "#{ENV['ORCID_URL']}/#{current_user.orcid}"}
                        %i.fab.fa-orcid
                        ORCID Record
                    %li.divider
                      %li
                        %a{:href => "#{ENV['JWT_HOST']}/sign_out"}
                          %i.fas.fa-sign-out-alt
                          Sign out
                  - else
                    %li.dropdown-header
                      = "Role: " + current_user.role_name 
                    %li
                      %a{:href => "#{ENV['FABRICA_URL']}/settings"}
                        %i.fas.fa-user-cog
                        Settings
                    %li.divider
                    %li
                      %a{:href => "#{ENV['FABRICA_URL']}/sign-out"}
                        %i.fas.fa-sign-out-alt
                        Sign out
            
            - else
              %li
                %a.btn.btn-sm{:href => "#{ENV['JWT_HOST']}/sign_in", id: 'sign-in'}
                  %i.fas.fa-sign-in-alt
                  Sign in
