- if @meta["members"].present?
  .panel.facets
    .panel-body
      %h4
        Members
      %ul
        - @meta["members"].sort_by { |k,v| -v }.each do |x|
          %li
            - if @params['member-id'].present?
              %a{:href => "/data-centers?q=#{params[:q]}"}
                %i.fa.fa-check-square-o
            - else
              %a{:href => "/data-centers?member-id=#{x.first}&q=#{params[:q]}"}
                %i.fa.fa-square-o
            .facet-title
              = member_title(@members, x.first)
            %span.number.pull-right
              = number_with_delimiter(x.last)
            .clearfix
