- if @meta["members"].present?
  .panel.facets
    .panel-body
      %h4
        Members
      %ul
        - @meta["members"].each do |f|
          - if params['member-id'] == f.fetch("id", nil)
            %li.active
              %a{:href => "/data-centers"}
                %i.fa.fa-check-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => "/data-centers?member-id=#{f.fetch("id")}&query=#{params[:query]}"}
                %i.fa.fa-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
