= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9
        = haml :'data-centers/search'

    .row
      .col-md-9.panel-list#content
        - if @datacenters[:data].length > 0
          - if @datacenters[:data].length > 1
            %h3.results
              = "#{number_with_delimiter(@datacenters[:meta]["total"])} Data Centers"

          - @datacenters[:data].each do |item|
            = haml :'data-centers/item', locals: { item: item }

          .text-center
            = will_paginate @datacenters[:data], renderer: BootstrapPagination::Sinatra, inner_window: 1

        - elsif @datacenters[:errors].present?
          .alert.alert-warning
            = @datacenters[:errors].first.fetch("title", "An error occured.")
        - else
          .alert.alert-simple-info
            Nothing found.

      .col-md-3
        = haml :'data-centers/facets'

= haml :cite_box

= haml :"#{ENV['RA']}/footer"
