= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9
        = haml :'data-centers/search'

    .row
      .col-md-9#content
        - if @datacenters.length > 0
          - if @datacenters.length > 1
            %h3.results
              = "#{number_with_delimiter(@meta["total"])} Data Centers"

          - @datacenters.each do |item|
            = haml :'data-centers/item', locals: { item: item }

          .text-center
            = will_paginate @datacenters, renderer: BootstrapPagination::Sinatra

        - elsif @datacenters_error.present?
          .alert.alert-warning
            = @datacenters_error
        - else
          .alert.alert-simple-info
            Nothing found.

      .col-md-3
        = haml :'data-centers/facets'

= haml :"#{ENV['RA']}/footer"
