= haml :"#{ENV['RA']}/header", locals: { page: {} }

- member = @datacenter[:included].find { |i| i.fetch("type", nil) == "members" }
- registration_agency = @datacenter[:included].find { |i| i.fetch("type", nil) == "registration-agencies" }

.container-fluid
  .content
    .row
      .col-md-9#content-data-center
        - if @datacenter[:data].present?
          = haml :'data-centers/item', locals: { item: @datacenter[:data] }
        - elsif @datacenter[:errors].present?
          %div.alert.alert-warning
            = @datacenter[:errors].first.fetch("title", "")

      - if @datacenter[:data].present?
        .col-md-3
          .panel.facets
            .panel-body.metadata
              - if registration_agency.is_a?(Hash) && registration_agency.fetch("id", nil) == "datacite" && member.present?
                %h5
                  Member
                .registration_agency
                  %a{href: "/members/#{member.fetch("id", nil)}"}
                    = member.fetch("attributes", {}).fetch("title", nil)
              - elsif registration_agency.is_a?(Hash)
                %h5
                  Registration Agency
                .registration_agency
                  = registration_agency.fetch("attributes", {}).fetch("title", nil)

      .col-md-9
        - if registration_agency && registration_agency.fetch("id", nil) != "datacite"
          %div.alert.alert-info
            Search is only available for DataCite DOIs. Only DOIs with a related DataCite DOI are shown.
        - elsif params['source-id'].present? || params['relation-type-id'].present?
          %div.alert.alert-info
            Search is not available when the <strong>Sources</strong> and/or <strong>Relation Types</strong> facet are selected.
        - else
          = haml :'works/search'

      .col-md-9.panel-list#content-works
        = haml :'works/list'

      .col-md-3
        = haml :'works/facets'

= haml :cite_box

= haml :"#{ENV['RA']}/footer"
