= haml :"#{ENV['RA']}/header", locals: { page: {} }

- member = @datacenter[:included].find { |i| i.fetch("type", nil) == "members" }

.container-fluid
  .content
    .row
      .col-md-9#content-data-center
        - if @datacenter[:data].present?
          = haml :'data-centers/item', locals: { item: @datacenter[:data] }
        - elsif @datacenter[:errors].present?
          %div.alert.alert-warning
            = @datacenter[:errors].first.fetch("title", "")

      - if @datacenter[:data].present?
        .col-md-3
          .panel.facets
            .panel-body.metadata
              - if member.present?
                %h5
                  Member
                .registration_agency
                  %a{href: "/members/#{member.fetch("id", nil)}"}
                    = member.fetch("attributes", {}).fetch("title", nil)

      - if @works[:data].length > 0
        .col-md-9
          = haml :'works/search'

        .col-md-9.panel-list#content-works
          = haml :'works/list'

        .col-md-3
          = haml :'works/facets'
      - else
        .col-md-9
          .alert.alert-simple-info
            Nothing found.

= haml :cite_box

= haml :"#{ENV['RA']}/footer"
