:css
  .facets {
    background-color: #f8f8f8;
    padding: 1em;
  }
  li {
  margin: 0.1em 0em;
  }
.facets
  - page[:facets].each_pair do |name, values|
    %h6= name.gsub(/_/, ' ')
    %ul.nav.nav-list
      - values.take(20).each_slice(2) do |value_name, value_count|
        - unless value_count.zero?
          - if page[:facet_query].has_key?(name) && page[:facet_query][name].include?(value_name)
            %li.active
              %a{:href => "#{facet_link_not(name, value_name)}"}
                %i.icon-check
                = "#{value_name} (#{value_count})"
          - else
            %li
              %a{:href => "#{facet_link(name, value_name)}"}
                %i.icon-check-empty
                = "#{value_name} (#{value_count})"