%script{:type => 'text/javascript', :src => '/javascripts/itemlist.js'}

- page[:items].each do |item|
  = haml :item, locals: { page: page, item: item }

  / - if signed_in? && !item.claimed?
  /   .modal.hide{:id => "claim-#{item.hashed}"}
  /     .doi{:id => "doi-#{item.hashed}", :style => 'display: none;'}= item.doi
  /     .modal-header
  /       %button.close{'type' => 'button', 'data-dismiss' => 'modal'} &times;
  /       %h3
  /         Add
  /         = item.doi
  /         to your ORCID record
  /     .modal-body
  /       %p
  /         You are adding
  /         %b= item.coins_atitle
  /         to your ORCID record. Double check that you were a
  /         contributor to this work.
  /       %p Add this work to your ORCID record?
  /     .modal-footer
  /       %button.btn{'type' => 'button', 'data-dismiss' => 'modal'} No, thanks
  /       %button.btn.btn-primary{:id => "claim-button-#{item.hashed}"} Yes, do it

- if page[:items].length == -1
  .page-header
    %h2 Examples
    %p Click on an example to put it in the search box.

  = haml :"#{ENV['RA']}/examples_list", locals: { page: page }
:javascript
  function showCitationsBox(hashed) {
    $('#citations-' + hashed).modal();
  }
