%div.item-data
  %h3
    - if item.title
      = item.title
    - else
      [no metadata registered]

  - unless item.authors.nil?
    %p= item.authors[0..19].join(", ")

  %p
    - if item.version
      = "Version " + item.version + " of "
    - if item.subtype
      = item.subtype
      published
    - elsif item.type
      = item.type
      published
    - else
      Work published
    - unless (item.year.nil? || item.year.to_i == 0)
      - unless item.day.nil?
        = item.day
      - unless item.month.nil?
        = item.month
      - unless (item.year.nil? || item.year.to_i == 0)
        = item.year
    - unless item.publication.nil?
      via
      = item.publication

  - if item.creative_commons
    %p
      - if item.creative_commons == "zero"
        %a{:href => "http://creativecommons.org/publicdomain/zero/1.0/"}
          %img{:src => "http://i.creativecommons.org/p/zero/1.0/80x15.png"}
      - else
        %a{:href => "http://creativecommons.org/licenses/#{item.creative_commons}/4.0/"}
          %img{:src => "http://i.creativecommons.org/l/#{item.creative_commons}/4.0/80x15.png"}

  = partial :item_links, :item => item

