%div.item-data
  %h3
    - if item.title
      = item.title
    - else
      [no metadata registered]

  - unless item.authors.nil?
    %p= item.authors_as_string

  %p
    - if item.version
      = "Version " + item.version + " of "
    - if item.subtype.present?
      = item.subtype.titleize
      published
    - else
      Software published
    - unless item.day.nil?
      = item.day
    - unless item.month.nil?
      = item.month
    - unless (item.year.nil? || item.year.to_i == 0)
      = item.year
    - unless item.publication.nil?
      via
      = item.publication
    - unless item.volume.nil?
      , volume
      = item.volume
    - unless item.issue.nil?
      , issue
      = item.issue
    - if !item.first_page.nil? && !item.last_page.nil?
      , on pages
      = item.first_page
      to
      = item.last_page
    - elsif !item.first_page.nil?
      , on page
      = item.first_page

  = haml :item_links, locals: { item: item }
