%script{:type => 'text/javascript', :src => '/javascripts/itemlist.js'}
  
%table  
  - page[:items].each do |item|
    - case item.type
    - when 'Text'
      = partial :item_text, :page => page, :item => item
    - when 'unknown'
      = partial :item_unknown, :page => page, :item => item
    - when 'journal_article'
      = partial :item_article, :page => page, :item => item
    - when 'conference_paper'
      = partial :item_conf_proc, :page => page, :item => item
    - else
      = partial :item_data, :page => page, :item => item

- page[:items].each do |item|
  - unless item.citations.empty?
    .modal.hide{:id => "citations-#{item.hashed}"}
      .modal-header
        %button.close{'type' => 'button', 'data-dismiss' => 'modal'} &times;
        %h3
          Patent citations for
          = item.doi
      .modal-body
        %table.table
          %tr
            %th ID
            %th Type
            %th Title
          - item.citations.each do |citation|
            %tr
              %td= citation[:id]
              %td= "#{citation[:type]} (#{citation[:authority]})"
              %td
                %a{:href => citation[:url]}= citation[:title]

  - if signed_in? && !item.user_claimed?
    .modal.hide{:id => "claim-#{item.hashed}"}
      .doi{:id => "doi-#{item.hashed}", :style => 'display: none;'}= item.doi
      .modal-header
        %button.close{'type' => 'button', 'data-dismiss' => 'modal'} &times;
        %h3
          Add
          = item.doi
          to your ORCID profile
      .modal-body
        %p
          You are adding
          %b= item.coins_atitle
          to your ORCID profile. Double check that you were a
          contributor to this work.
        %p Add this work to your ORCID profile?  
      .modal-footer
        %button.btn{'type' => 'button', 'data-dismiss' => 'modal'} No, thanks
        %button.btn.btn-primary{:id => "claim-button-#{item.hashed}"} Yes, do it

:javascript
  function showCitationsBox(hashed) {
    $('#citations-' + hashed).modal();
  }

