%h4.work
  %a{:href => 'http://doi.org/' + item.doi}
    - if item.title
      = item.title
    - else
      [no metadata registered]

- unless item.authors.nil?
  = author_format(item.authors)

%br
  - if item.version
    = "Version " + item.version + " of "
  - if item.subtype.present?
    = item.subtype
    published
  - elsif item.type
    = item.type
    published
  - else
    Work published
  - unless (item.year.nil? || item.year.to_i == 0)
    - unless item.day.nil?
      = item.day
    - unless item.month.nil?
      = item.month
    - unless (item.year.nil? || item.year.to_i == 0)
      = item.year
  - unless item.publication.nil?
    via
    = item.publication
- if item.description.present?
  .description
    = sanitize(item.description)

= haml :item_links, locals: { item: item }
