%tr
  %td
    .item-tab
      .item-tab-date
        %p
          - unless item.day.nil?
            = item.day
          - unless item.month.nil?
            = item.month
        - unless item.year.nil?
          %p= item.year
      .item-tab-icons  
        - if item.open_access?
          %a.oa-tooltip{:href => '#'}
            %i.icon-unlock
  %td.item-data
    - unless item.title.nil?
      %p.lead= item.title
      %p.extra
        - unless item.publication.nil?        
          %span= item.publication
      %p.extra    
        - unless item.volume.nil?
          %span= "Volume <b>#{item.volume}</b>,"
        - unless item.issue.nil?
          %span= "Issue <b>#{item.issue}</b>,"
        - if !item.first_page.nil? && !item.last_page.nil?
          %span= "Pages <b>#{item.first_page}</b> to <b>#{item.last_page}</b>"
        - elsif !item.first_page.nil?
          %span= "From Page <b>#{item.first_page}</b>"
  
    - unless item.authors.nil?
      %p.expand= item.authors

    = partial :item_links, :item => item
        