%div.item-data
  - unless item.title.nil?
    %h3
      = item.title

    %p.extra
      %span
        - if item.version
          = "Version " + item.version + " of "
        %strong
          = item.subtype
        published
        %b
          - unless item.day.nil?
            = item.day
          - unless item.month.nil?
            = item.month
          - unless (item.year.nil? || item.year.to_i == 0)
            = item.year
      - unless item.publication.nil?
        %span
          via
          %b= item.publication
      - unless item.volume.nil?
        %span
          , volume
          %b= item.volume
      - unless item.issue.nil?
        %span
          , issue
          %b= item.issue
      - if !item.first_page.nil? && !item.last_page.nil?
        %span
          , on pages
          %b= item.first_page
          to
          %b= item.last_page
      - elsif !item.first_page.nil?
        %span
          , on page
          %b= item.first_page

  - unless item.authors.nil?
    %p.expand= item.authors[0..19].join(", ")

  - if item.creative_commons
    %p
      - if item.creative_commons == "zero"
        %a{:href => "http://creativecommons.org/publicdomain/zero/1.0/"}
          %img{:src => "http://i.creativecommons.org/p/zero/1.0/80x15.png"}
      - else
        %a{:href => "http://creativecommons.org/licenses/#{item.creative_commons}/4.0/"}
          %img{:src => "http://i.creativecommons.org/l/#{item.creative_commons}/4.0/80x15.png"}

  = partial :item_links, :item => item
