%tr
  %td
    .item-tab.conf-proc
      %i.icon-user
      %p= item['published']['year'].to_i
  %td.item-data
    %p.lead= item['title']
    .pull-right
      %h6
        - if item.has_key? 'pages'
          - if item['pages'].has_key?('last_page')
            pages
            = item['pages']['first_page']
            to
            = item['pages']['last_page']
          - elsif  item['pages'].has_key?('first_page')
            page
            = item['pages']['first_page']
    %h6
      = item['proceedings']['title']
    
    %p
      - if item.has_key? 'contributors'
        - item['contributors'].each do |author|
          = author['given_name']
          = author['surname']
    = partial :item_links, :item => item