%tr
  %td.item-data
    - unless item.title.nil?
      %p.lead
        = item.title
        
      %p.extra
        %span
          Published
          %b
            - unless item.day.nil?
              = item.day
            - unless item.month.nil?
              = item.month
            - unless item.year.nil?
              = item.year              
        - unless item.publication.nil?
          %span
            via
            %b= item.publication
  
    - unless item.authors.nil?
      %p.expand= item.authors

    = partial :item_links, :item => item
        
