.panel.panel-default
  .panel-body
    %h4.work
      %a{:href => 'http://doi.org/' + item.doi}
        - if item.title
          = item.title
        - else
          [no metadata registered]

    - if item.authors.present?
      = author_format(item.authors)

    %br
      - if item.version
        = "Version " + item.version + " of "
      - if item.subtype.present?
        = item.subtype.titleize
        published
      - elsif item.type
        = item.type.titleize
        published
      - else
        Work published
      - unless (item.year.nil? || item.year.to_i == 0)
        - unless item.day.nil?
          = item.day
        - unless item.month.nil?
          = item.month
        - unless (item.year.nil? || item.year.to_i == 0)
          = item.year
        - unless item.publication.nil?
          via
          = item.publication
      - unless item.volume.nil?
        , volume
        = item.volume
      - unless item.issue.nil?
        , issue
        = item.issue
      - if !item.first_page.nil? && !item.last_page.nil?
        , on pages
        = item.first_page
        to
        = item.last_page
      - elsif !item.first_page.nil?
        , on page
        = item.first_page
    - if item.description.present?
      .description
        = sanitize(item.description)
    - if item.creative_commons.present?
      .item-license
        - if item.creative_commons == "zero"
          %a{:href => "http://creativecommons.org/publicdomain/zero/1.0/"}
            %img{:src => "https://licensebuttons.net/p/zero/1.0/80x15.png"}
        - else
          %a{:href => "http://creativecommons.org/licenses/#{item.creative_commons}/4.0/"}
            %img{:src => "https://licensebuttons.net/l/#{item.creative_commons}/4.0/80x15.png"}

    = item.coins_span

    - if item.grant_info.present?
      %p
        Research funded by
        = item.grant_info.join('  |  ')

  - if item.signposts.present?
    = haml :item_events, locals: { item: item }

  .panel-footer.item-links
    = haml :item_links, locals: { item: item }
