= item.coins_span

- if item.creative_commons
  %p
    - if item.creative_commons == "zero"
      %a{:href => "http://creativecommons.org/publicdomain/zero/1.0/"}
        %img{:src => "http://i.creativecommons.org/p/zero/1.0/80x15.png"}
    - else
      %a{:href => "http://creativecommons.org/licenses/#{item.creative_commons}/4.0/"}
        %img{:src => "http://i.creativecommons.org/l/#{item.creative_commons}/4.0/80x15.png"}

.item-links
  - unless item.citations.empty?
    %a{:href => "javascript:showCitationsBox('#{item.hashed}');"}
      %i.icon-resize-small
        = item.citations.count
        citations from patents
  %a{:href => 'http://doi.org/' + item.doi}
    %i.icon-external-link
    = "http://doi.org/#{item.doi}"
  %a.cite-link.nowrap{:href => "javascript:showCiteBox('#{item.doi}', '#{item.title}');"}
    %i.icon-quote-left
    Cite

  - if item.related.present?
    %span.dropdown.nowrap
      %a.dropdown-toggle{:role => 'button', 'data-toggle' => 'dropdown', :href => '#'}
        %i.icon-double-angle-down
        Related Content
      %ul.dropdown-menu{role: 'menu'}
        - item.related.each do |related|
          - if related[:id] == "DOI"
            %li
              %a.cite-link{href: "?q=" + related[:text]}
                %strong
                  = related[:relation]
                %i.icon-external-link
                = "http://doi.org/#{related[:text]}"
          - elsif related[:id] == "URL"
            %li
              %a.cite-link{href: related[:text]}
                %strong
                  = related[:relation]
                %i.icon-external-link
                = related[:text]

  - if item.alternate.present?
    %span.dropdown.nowrap
      %a.dropdown-toggle{:role => 'button', 'data-toggle' => 'dropdown', :href => '#'}
        %i.icon-double-angle-down
        Other Identifiers
      %ul.dropdown-menu{:role => 'menu'}
        - item.alternate.each do |alternate|
          %li.alternate
            %strong
              = alternate[:id]
            = alternate[:text]

  - if signed_in?
    - if item.in_user_profile?
      %span.well-transparent.claim-ok{id: item.doi}
        %img{src: '/images/orcid_16x16.gif'}
        %span In your profile
    - elsif item.user_claimed?
      %span.well-transparent.claim-warn{id: item.doi}
        %img{src: '/images/orcid_16x16.gif'}
        %span Not visible
    - else
      %span.well-transparent.claim-none{id: item.doi}
        %img{src: '/images/orcid_16x16.gif'}
        %span Add to ORCID
