%div.item-data
  %h3
    - if item.open_access?
      %a.oa-tooltip{:href => "http://www.doaj.org/doaj?func=findJournals&uiLanguage=en&hybrid=&query=#{item.coins_title}", :target => '_blank'}
        %span.small{:style => 'font-size: 0.8em;'} DOAJ
    - if item.title
      = item.title
    - else
      [no metadata registered]

  - unless item.authors.nil?
    %p= item.authors[0..19].join(", ")

  %p
    Article published
    - unless item.day.nil?
      = item.day
    - unless item.month.nil?
      = item.month
    - unless item.year.nil?
      = item.year
    - unless item.publication.nil?
      in
      = item.publication
    - unless item.volume.nil?
      , volume
      = item.volume
    - unless item.issue.nil?
      , issue
      = item.issue
    - if !item.first_page.nil? && !item.last_page.nil?
      , on pages
      = item.first_page
      to
      = item.last_page
    - elsif !item.first_page.nil?
      , on page
      = item.first_page

  = partial :item_links, :item => item

