%div.item-data
  %h3
    - if item.open_access?
    %a.oa-tooltip{:href => '#'}
      %i.fa.fa-unlock
    - if item.title
      = item.title
    - else
      [no metadata registered]

  - unless item.authors.nil?
    %p.expand= item.authors[0..19].join(", ")

  %p.extra
    Published
    - unless item.day.nil?
      = item.day
    - unless item.month.nil?
      = item.month
    - unless item.year.nil?
      = item.year
    - unless item.publication.nil?
      in
      = item.publication
    - unless item.volume.nil?
      , volume
      = item.volume
    - unless item.issue.nil?
      , issue
      = item.issue
    - if !item.first_page.nil? && !item.last_page.nil?
      , on pages
      = item.first_page
      to
      = item.last_page
    - elsif !item.first_page.nil?
      , on page
      = item.first_page
  - if item.description.present?
    %p.description
      = sanitize(item.description)

    = partial :item_links, :item => item

