%div.item-data
  %h3
    - if item.title
      = item.title
    - else
      [no metadata registered]

  - unless item.authors.nil?
    %p= item.authors_as_string

  %p
    - if item.version
      = "Version " + item.version + " of "
    - if item.subtype.present?
      = item.subtype
      published
    - elsif item.type
      = item.type
      published
    - else
      Work published
    - unless (item.year.nil? || item.year.to_i == 0)
      - unless item.day.nil?
        = item.day
      - unless item.month.nil?
        = item.month
      - unless (item.year.nil? || item.year.to_i == 0)
        = item.year
    - unless item.publication.nil?
      via
      = item.publication
  - if item.description.present?
    %p.description
      = sanitize(item.description)

  = haml :item_links, locals: { item: item }
