= item.coins_span
.item-links-outer
  .item-links
    - unless item.citations.empty?
      %a{:href => "javascript:showCitationsBox('#{item.hashed}');"}
        %i.icon-resize-small
          = item.citations.count
          citations from patents     
    %a{:href => 'http://dx.doi.org/' + item.doi}
      %i.icon-external-link
      = "dx.doi.org/#{item.doi}"
    %a.cite-link{:href => "javascript:showCiteBox('#{item.doi}', '#{item.title}');"}
      %i.icon-quote-left
      Cite
    
    - if item.related && item.related.any? { |related| related[:id] == "DOI" }
      %span.dropdown
        %a.dropdown-toggle{:role => 'button', 'data-toggle' => 'dropdown', :href => '#'}
          %i.icon-double-angle-down
          Related Content
        %ul.dropdown-menu{:role => 'menu'}
          - item.related.each do |related|
            - if related[:id] == "DOI"
              %li
                %a.cite-link{:href => 'http://dx.doi.org/' + related[:text]}
                  = related[:relation]
                  %i.icon-external-link
                  = "dx.doi.org/#{related[:text]}"

    - if signed_in?
      - if item.in_user_profile?
        %span.well-transparent.claim-ok{:id => item.doi}
          %img{:src => '/images/orcid_16x16.gif'}
          %span In your profile
      - elsif item.user_claimed?
        %span.well-transparent.claim-warn{:id => item.doi}
          %img{:src => '/images/orcid_16x16.gif'}
          %span Not visible
      - else
        %span.well-transparent.claim-none{:id => item.doi}
          %img{:src => '/images/orcid_16x16.gif'}
          %span Add to ORCID
  
    
