= item.coins_span
.item-links
  %a.cite-link{:href => "javascript:showCiteBox('#{item.doi}', '#{item.coins_atitle}');"}
    %i.icon-bullhorn
    Cite
  - unless facet?('publication') || item.publication.nil?
    %a{:href => "#{facet_link('publication', item.coins_title)}"}
      %i.icon-copy
      Only this publication
  - unless item.citations.empty?
    %a{:href => "javascript:showCitationsBox('#{item.hashed}');"}
      %i.icon-resize-small
      = item.citations.count
      citations from patents     
  %a{:href => 'http://dx.doi.org/' + item.doi}
    %i.icon-external-link
    = "dx.doi.org/#{item.doi}"
  %a{:href => '#'}
    %i.icon-reorder
    More