!!!
%html
  %head
    %title
      = ENV['SITENAMELONG']
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %link{:rel => 'stylesheet', :href => '//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "//fonts.googleapis.com/css?family=Raleway:400,600,400italic,600italic", :type => 'text/css'}
    - if ENV['CDN_HOST']
      %link{:rel => 'stylesheet', :href => "//#{ENV['CDN_HOST']}/stylesheets/default.css", :type => 'text/css'}
    - else
      %link{:rel => 'stylesheet', :href => "/stylesheets/#{ENV['RA']}.css", :type => 'text/css'}

    %script{:type => 'text/javascript', :src => '//code.jquery.com/jquery-2.2.3.min.js'}
    %script{:type => 'text/javascript', :src => '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/bootstrap.notify.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/spin.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/jquery.oauthpopup.js'}
    - if ENV['BUGSNAG_JS_KEY']
      %script{:type => 'text/javascript', :src => '//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js', :data => { 'apikey' => "#{ENV['BUGSNAG_JS_KEY']}" }}
    - if ENV['GABBA_COOKIE']
      :javascript
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', '#{ENV['GABBA_COOKIE']}']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
  %body
    .notifications.top-left
    = yield
