!!!
%html
  %head
    %title#site-title{'data-conneg': ENV['DATA_URL'] }
      = ENV['SITE_TITLE']
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %link{:rel => 'stylesheet', :href => '//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "//fonts.googleapis.com/css?family=Raleway:400,600,400italic,600italic", :type => 'text/css'}
    - if ENV['CDN_URL']
      %link{:rel => 'stylesheet', :href => "#{ENV['CDN_URL']}/stylesheets/datacite.css", :type => 'text/css'}
    - else
      %link{:rel => 'stylesheet', :href => "/stylesheets/#{ENV['RA']}.css", :type => 'text/css'}

    - if @work.present? && @work[:data].present?
      - id = @work.fetch(:data, {}).fetch("id", nil)
      - attributes = @work.fetch(:data, {}).fetch("attributes", {})
      = work_as_meta_tag(id: id, attributes: attributes)

  %body
    .notifications.top-left
    = yield

    %script{:type => 'text/javascript', :src => '//code.jquery.com/jquery-2.2.3.min.js'}
    %script{:type => 'text/javascript', :src => '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/citebox.js'}
    %script{:type => 'text/javascript', :src => '//cdn.statuspage.io/se-v2.js'}
    %script{type: "text/x-mathjax-config"}
      :plain
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [["$","$"],["\\(","\\)"]]
          }
        });
    %script{:type => 'text/javascript', :src => '//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML'}
    %script{:type => 'text/javascript', :src => 'https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/itemlist.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/schemaorg.js'}
    - if ENV['CDN_URL']
      %script{:type => 'text/javascript', :src => "#{ENV['CDN_URL']}/javascripts/default.js"}
    - if ENV['BUGSNAG_JS_KEY']
      %script{:type => 'text/javascript', :src => '//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js', :data => { 'apikey' => "#{ENV['BUGSNAG_JS_KEY']}" }}
    - if ENV['GABBA_COOKIE']
      :javascript
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', '#{ENV['GABBA_COOKIE']}']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
