= partial :search_header, :page => page
        
.row-fluid
  .span3

  .span9
    = partial :search_box, :page => page
    .list-info
      .pull-right
        %h6.number= "Page #{page[:page]} of #{page[:paginate].total_rows} results"
      %span
        %h6
          Sort by:
          - if page[:bare_sort] == 'publicationYear'
            %a{:href => "#{search_link({:sort => 'score'})}"} relevance
            %b publication year
          - else
            %b relevance
            %a{:href => "#{search_link({:sort => 'publicationYear'})}"} publication year
    = partial :item_list, :page => page
    .item-paging.bottom
      = will_paginate page[:paginate], :renderer => BootstrapLinkRenderer

= partial :cite_box, :page => page