:css
  .item-paging {
    text-align: center;
    margin-top: 1em;
  }
  .list-info {
     margin-bottom: 2em;
     background-color: #f8f8f8;
     padding: 1em;   
  }
  .gap {
    display: none;
  }
  a, a:visited {
    color: rgb(56, 166, 203);
  }
  a:hover {
    color: rgb(6, 116, 153);
  }
  
  .nav-list > .active > a {
    background-color: rgb(56, 166, 203);
  }

  .nav-list > .active > a:hover {
    background-color: rgb(6, 116, 153);
  }

= partial :search_header, :page => page
        
.row-fluid
  .span3
    = partial :facets, :page => page
  .span9
    .list-info
      .pull-right
        .dropdown
          %a.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#'}
            Order by relevance
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => '#'} publication date
      %h6= "Page #{page[:page]} of #{page[:paginate].total_rows} results"
    = partial :item_list, :page => page
    .item-paging.bottom
      = will_paginate page[:paginate], :renderer => BootstrapLinkRenderer