= partial :search_header, :page => page

.row-fluid
  .span9
    - unless flash[:error].nil?
      %div.alert.alert-error
        = flash[:error]
    - unless page[:page].nil? || page[:paginate].nil? || params['q'] == ""
      - if page[:items].length > 0
        = partial :search_box, :page => page
      - if page[:items].length > 1
        .list-info
          .pull-right
            = "#{page[:paginate].total_rows} results - page #{page[:page]} of #{page[:paginate].total_pages}"
          Sort by
          - if page[:bare_sort] == 'publicationYear'
            %a{:href => "#{search_link({:sort => 'score'})}"} Relevance
            %b - Publication Year
          - else
            %b Relevance -
            %a{:href => "#{search_link({:sort => 'publicationYear'})}"} Publication Year

      = partial :item_list, :page => page

      .item-paging.bottom
        = will_paginate page[:paginate], :renderer => BootstrapLinkRenderer, :inner_window => 2
    - else
      .example
        %h2 Examples
        %p Click on an example to put it in the search box.

      = partial :examples_list, :page => page
  .span3

= partial :cite_box, :page => page

= partial :search_footer, :page => page
