- if page[:query_type] && page[:query_type][:type] != :normal   
  .alert.alert-info
    - if page[:query_type][:type] == :doi
      Showing DOI matching
      %b= page[:query_type][:value]
    - elsif page[:query_type][:type] == :short_doi
      Resolved short DOI to
      %b= page[:query_type][:value]
    - elsif page[:query_type][:type] == :issn
      Showing results for ISSN matching
      %b= page[:query_type][:value]
    - elsif page[:query_type][:type] == :orcid
      Showing results for ORCID matching
      %b= page[:query_type][:value]
    - elsif page[:query_type][:type] == :urn
      Showing URN matching
      %b= page[:query_type][:value]
  
