= haml :"#{ENV['RA']}/header", locals: { page: page }

.container-fluid
  .page-header
    %h1 Settings
  .row
    .col-md-8
      .panel{:class => auto_update_text}
        .panel-heading
          %h2.panel-title
            Auto-Update
            = enabled_text
        .panel-body
          %i.fa.fa-exchange.fa-3x.fa-pull-left
          By signing in with ORCID you enabled DataCite to automatically add works with your ORCID identifier to your ORCID record.
          %p
            %span.label.label-primary.pull-right
              coming soon
  .row
    .col-md-8
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            Manual Update
        .panel-body
          %i.fa.fa-refresh.fa-3x.fa-pull-left
          Sync changes from your ORCID record to this site.
          .pull-right.sync-info
            %i.fa.fa-check#sync-ok
            %button.btn.btn-lg.btn-default#sync-button
              %i.fa.fa-refresh#sync-icon
              Sync

= haml :"#{ENV['RA']}/footer", locals: { page: page }

:javascript
  $(document).ready(function() {
    var performSync = function() {
      $.ajax({url: '/orcid/sync',
              success: function(data) {
                if (data['status'] == 'oauth_timeout') {
                  $.oauthpopup({path: '/auth/orcid',
                                callback: function() {
                                  performSync();
                                }});
                } else {
                  $('#sync-icon').removeClass('icon-spin');
                  $('#sync-button').removeClass('disabled');
                }

                if (data['status'] == 'ok') {
                  $('#sync-ok').show().delay(1000).fadeOut();
                }
              },
              error: function() {
                $('#sync-icon').removeClass('icon-spin');
                $('#sync-button').removeClass('disabled');
              }
      });
    }

    $('#sync-button').click(function(e) {
      if ($(this).hasClass('disabled')) {
        return;
      }

      $('#sync-icon').addClass('icon-spin');
      $(this).addClass('disabled');
      performSync();

      e.preventDefault();
      return false;
    });
  });
