= haml :"#{ENV['RA']}/header", locals: { params: {} }

.container-fluid
  - unless flash[:error].nil?
    .alert.alert-error
      = flash[:error]

  .centered
    - if ENV['CDN_URL']
      %img{class: 'img-big', src: "#{ENV['CDN_URL']}/images/logobig.png"}
    - else
      %img{class: 'img-big', src: "/images/#{ENV['RA']}/logobig.png"}

  .row
    .col-md-6.col-md-offset-3
      = haml :'works/search'

    .splash

= haml :"#{ENV['RA']}/footer"
