= haml :"#{ENV['RA']}/header", locals: { page: page }

.row
  .col-md-9
    .page-header
      %h2 Stats
    - page[:stats].each do |stat|
      .stat-list
        .pull-right
          - if stat[:number]
            %span.stat-value.number= stat[:value]
          - else
            %span.stat-value= stat[:value]
        %span.stat-name= stat[:name]

= haml :"#{ENV['RA']}/footer", locals: { page: page }
