= partial :search_header, :page => page

.row-fluid
  .span2
  .span8
    .page-header
      %h1 Indexing
    - page[:stats].each do |stat|
      .pull-right
        - if stat[:number]
          %span.stat-value.number= stat[:value]
        - else
          %span.stat-value= stat[:value]
      %span.stat-name= stat[:name]  
      %hr
      
= partial :search_footer, :page => page