= haml :search_header, locals: { page: page }

.row-fluid
  .span9
    .page-header
      %h2 Status
    - page[:stats].each do |stat|
      .stat-list
        .pull-right
          - if stat[:number]
            %span.stat-value.number= stat[:value]
          - else
            %span.stat-value= stat[:value]
        %span.stat-name= stat[:name]

= haml :search_footer, locals: { page: page }
