= partial :search_header, :page => page

.row-fluid
  .span9
    %h2.status Status
    - page[:stats].each do |stat|
      .stat-list
        .pull-right
          - if stat[:number]
            %span.stat-value.number= stat[:value]
          - else
            %span.stat-value= stat[:value]
        %span.stat-name= stat[:name]

= partial :search_footer, :page => page
