.panel.facets
  - if @meta["relation-sources"].present?
    .panel-body
      %h4
        Sources
      %ul
        - @meta["relation-sources"].sort_by { |k,v| -v }.each do |s|
          - if params['source-id'] == s.first
            %li.active
              %a{:href => works_query(params.except('source-id'))}
                %i.fa.fa-check-square-o
              .facet-title
                = source_title(@relation_sources, s.first)
              %span.number.pull-right= "#{number_with_delimiter(s.last)}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('source-id' => s.first))}
                %i.fa.fa-square-o
              .facet-title
                = source_title(@relation_sources, s.first)
              %span.number.pull-right= "#{number_with_delimiter(s.last)}"
              .clearfix

  - if @meta["relation-types"].present?
    .panel-body
      %h4
        Relation Types
      %ul
        - @meta["relation-types"].sort_by { |k,v| -v }.each do |s|
          - if params['relation-type-id'] == s.first
            %li.active
              %a{:href => works_query(params.except('relation-type-id'))}
                %i.fa.fa-check-square-o
              .facet-title
                = relation_type_title(@relation_types, s.first)
              %span.number.pull-right= "#{number_with_delimiter(s.last)}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('relation-type-id' => s.first))}
                %i.fa.fa-square-o
              .facet-title
                = relation_type_title(@relation_types, s.first)
              %span.number.pull-right= "#{number_with_delimiter(s.last)}"
              .clearfix
