- attributes = item.fetch("attributes", {})
.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => works_action(item, params)}
        = attributes["title"]
    - if attributes["author"].present?
      = author_format(attributes["author"])
    .metadata
      = metadata_format(attributes)
    - if attributes["description"].present?
      .description
        = description_format(attributes["description"])

  .panel-footer
    %span
      = relation_type_title(@relation_types, item.fetch("attributes", {}).fetch("relation-type-id", nil))
      = attributes["obj-id"]
    %span.pull-right
      = source_title(@relation_sources, item.fetch("attributes", {}).fetch("source-id", nil))

  .panel-footer.item-links
    %a{:href => attributes["subj-id"]}
      %i.fa.fa-external-link
      = attributes["subj-id"]
    %a.cite-link.nowrap{:href => "javascript:showCiteBox('#{attributes["doi"]}', '#{attributes["title"]}');"}
      %i.fa.fa-quote-left
      Cite

    - if user_signed_in? && attributes["registration-agency-id"] == "datacite"
      = haml :'works/claim', locals: { item: item }
