= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .row
    .col-md-9
      = haml :relation_search, locals: { params: params }

  .row
    .col-md-9#content
      - if flash[:error].present?
        %div.alert.alert-warning
          = flash[:error]

      - if data.length > 0
        - if data.length > 1
          %h4.results
            = "#{number_with_delimiter(meta['total'])} Relations"

        - data.each do |item|
          = haml :relation_item, locals: { item: item }

      - else
        %div.alert.alert-info
          Nothing found.

= haml :"#{ENV['RA']}/footer"
