.panel.facets
  - if @works[:meta]["resource-types"].present?
    .panel-body
      %h4
        Resource Types
      %ul
        - @works[:meta]["resource-types"].each do |f|
          - if params['resource-type-id'] == f.fetch("id", nil)
            %li.active
              %a{:href => works_query(params.except('resource-type-id'))}
                %i.fa.fa-check-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('resource-type-id' => f.fetch("id", nil)))}
                %i.fa.fa-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix

  - if @works[:meta]["years"].present?
    .panel-body
      %h4
        Publication Year
      %ul
        - @works[:meta]["years"].each do |f|
          - if params['year'] == f.fetch("id", nil)
            %li.active
              %a{:href => works_query(params.except('year'))}
                %i.fa.fa-check-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('year' => f.fetch("id", nil)))}
                %i.fa.fa-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix

  - if @datacenter.blank? && @works[:meta]["publishers"].present?
    .panel-body
      %h4
        Data Centers
      %ul
        - @works[:meta]["publishers"].each do |f|
          - if params['publisher-id'] == f.fetch("id", nil)
            %li.active
              %a{:href => works_query(params.except('publisher-id'))}
                %i.fa.fa-check-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('publisher-id' => f.fetch("id", nil)))}
                %i.fa.fa-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix

  / - if @works[:meta]["sources"].present? && params[:model] != "sources" && params['resource-type-id'].nil?
  /   .panel-body
  /     %h4
  /       Sources
  /     %ul
  /       - @works[:meta]["sources"].each do |f|
  /         - if params['source-id'] == f.fetch("id", nil)
  /           %li.active
  /             %a{:href => works_query(params.except('source-id'))}
  /               %i.fa.fa-check-square-o
  /             .facet-title
  /               = f.fetch("title", nil)
  /             %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
  /             .clearfix
  /         - else
  /           %li
  /             %a{:href => works_query(params.merge('source-id' => f.fetch("id", nil)))}
  /               %i.fa.fa-square-o
  /             .facet-title
  /               = f.fetch("title", nil)
  /             %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
  /             .clearfix

  / - if @works[:meta]["relation-types"].present? && params['resource-type-id'].nil?
  /   .panel-body
  /     %h4
  /       Relation Types
  /     %ul
  /       - @works[:meta]["relation-types"].each do |f|
  /         - if params['relation-type-id'] == f.fetch("id", nil)
  /           %li.active
  /             %a{:href => works_query(params.except('relation-type-id'))}
  /               %i.fa.fa-check-square-o
  /             .facet-title
  /               = f.fetch("title", nil)
  /             %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
  /             .clearfix
  /         - else
  /           %li
  /             %a{:href => works_query(params.merge('relation-type-id' => f.fetch("id", nil)))}
  /               %i.fa.fa-square-o
  /             .facet-title
  /               = f.fetch("title", nil)
  /             %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
  /             .clearfix
