.panel.facets
  - if @works[:meta]["registered"].present?
    .panel-body
      %h4
        Registration Year
      %ul
        - @works[:meta]["registered"].each do |f|
          - if params['registered'] == f.fetch("id", nil)
            %li.active
              %a{:href => works_query(params.except('registered'))}
                %i.fa.fa-check-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('registered' => f.fetch("id", nil)))}
                %i.fa.fa-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
              
  - if @works[:meta]["resource-types"].present?
    .panel-body
      %h4
        Resource Types
      %ul
        - @works[:meta]["resource-types"].each do |f|
          - if params['resource-type-id'] == f.fetch("id", nil)
            %li.active
              %a{:href => works_query(params.except('resource-type-id'))}
                %i.fa.fa-check-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('resource-type-id' => f.fetch("id", nil)))}
                %i.fa.fa-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix

  - if @datacenter.blank? && @works[:meta]["data-centers"].present?
    .panel-body
      %h4
        Data Centers
      %ul
        - @works[:meta]["data-centers"].each do |f|
          - if params['data-center-id'] == f.fetch("id", nil)
            %li.active
              %a{:href => works_query(params.except('data-center-id'))}
                %i.fa.fa-check-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('data-center-id' => f.fetch("id", nil)))}
                %i.fa.fa-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
  - if @works[:meta]["affiliations"].present?
    .panel-body
      %h4
        Affiliations
      %ul
        - @works[:meta]["affiliations"].each do |f|
          - if f.fetch("title", nil) != f.fetch("id", nil)
            - if params['affiliation-id'] == f.fetch("id", nil)
              %li.active
                %a{:href => works_query(params.except('affiliation-id'))}
                  %i.fa.fa-check-square-o
                .facet-title
                  = f.fetch("title", nil)
                %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
                .clearfix
            - else
              %li
                %a{:href => works_query(params.merge('affiliation-id' => f.fetch("id", nil)))}
                  %i.fa.fa-square-o
                .facet-title
                  = f.fetch("title", nil)
                %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
                .clearfix
