.panel.facets
  - if @meta["resource-types"].present?
    .panel-body
      %h4
        Resource Types
      %ul
        - @meta["resource-types"].each do |f|
          - if params['resource-type-id'] == f.first
            %li.active
              %a{:href => works_query(params.except('resource-type-id'))}
                %i.fa.fa-check-square-o
              = resource_type_title(@resource_types, f.first)
              %span.number.pull-right= "#{number_with_delimiter(f.last)}"
          - else
            %li
              %a{:href => works_query(params.merge('resource-type-id' => f.first))}
                %i.fa.fa-square-o
              = resource_type_title(@resource_types, f.first)
              %span.number.pull-right= "#{number_with_delimiter(f.last)}"

  - if @meta["publishers"].present? && params[:model] == "works"
    .panel-body
      %h4
        Data Centers
      %ul
        - @meta["publishers"].each do |f|
          - if params['publisher-id'] == f.first
            %li.active
              %a{:href => works_query(params.except('publisher-id'))}
                %i.fa.fa-check-square-o
              = publisher_title(@publishers, f.first)
              %span.number.pull-right= "#{number_with_delimiter(f.last)}"
          - else
            %li
              %a{:href => works_query(params.merge('publisher-id' => f.first))}
                %i.fa.fa-square-o
              = publisher_title(@publishers, f.first)
              %span.number.pull-right= "#{number_with_delimiter(f.last)}"

  - if @meta["relation-types"].present?
    .panel-body
      %h4
        Relation Types
      %ul
        - @meta["relation-types"].sort_by { |k,v| -v }.each do |f|
          - if params['relation-type-id'] == f.first
            %li.active
              %a{:href => works_query(params.except('relation-type-id'))}
                %i.fa.fa-check-square-o
              = relation_type_title(@relation_types, f.first)
              %span.number.pull-right= "#{number_with_delimiter(f.last)}"
          - else
            %li
              %a{:href => works_query(params.merge('relation-type-id' => f.first))}
                %i.fa.fa-square-o
              = relation_type_title(@relation_types, f.first)
              %span.number.pull-right= "#{number_with_delimiter(f.last)}"
