= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9
        = haml :'works/search'

    .row
      .col-md-9.panel-list#content
        = haml :'works/list'

      .col-md-3
        = haml :'works/facets'

= haml :cite_box

= haml :"#{ENV['RA']}/footer"
