= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .row
    .col-md-9
      = haml :'works/search'

  .row
    .col-md-9#content
      = haml :'works/list'

    .col-md-3
      = haml :'works/facets'

= haml :cite_box

%script{:type => 'text/javascript', :src => '/javascripts/itemlist.js'}

= haml :"#{ENV['RA']}/footer"
