= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9
        - if params['source-id'].present? || params['relation-type-id'].present?
          %div.alert.alert-info
            Search is not available when the <strong>Sources</strong> and/or <strong>Relation Types</strong> facet are selected.
        - else
          = haml :'works/search'

    .row
      .col-md-9.panel-list#content
        = haml :'works/list'

      .col-md-3
        = haml :'works/facets'

= haml :cite_box

= haml :"#{ENV['RA']}/footer"
