- attributes = item.fetch("attributes", {})
- type = attributes.fetch("resource-type-id", nil)
- includes = @works.present? ? @works[:included] : @work[:included]
- work_types = Array.wrap(includes).select { |item| item["type"] == "work-types" }
- sources = Array.wrap(@works[:meta].to_h.fetch("sources", nil))
- new_params = params[:model] == "works" && params["id"] == attributes.fetch("doi", nil) ? params.merge(external_link: true) : params
- title = attributes["title"].to_s.gsub(/"/, '\"')
- views = metrics.to_h.fetch("unique-dataset-investigations-regular", 0) 
- downloads = metrics.to_h.fetch("unique-dataset-requests-regular", 0) 
- citations = metrics.to_h.dig(:citations, "count").to_i 
- references = metrics.to_h.dig(:references, "count").to_i 
- relations = metrics.to_h.dig(:relations, "count").to_i 
- if @work.present? && Array.wrap(metrics.to_h.dig(:views_histogram, "yearMonths")).any?
  - gon.chart_views = Array.wrap(metrics.to_h.dig(:views_histogram, "yearMonths"))
  - gon.yop = attributes.fetch("published", "").to_i
- if @work.present? && Array.wrap(metrics.to_h.dig(:downloads_histogram, "yearMonths")).any?
  - gon.chart_downloads = Array.wrap(metrics.to_h.dig(:downloads_histogram, "yearMonths"))
  - gon.yop = attributes.fetch("published", "").to_i
- if @work.present? && citations.positive?
  - has_duplicated = citations != Array.wrap(metrics.to_h.dig(:citations_histogram, "count")) ? true : false
  - citations_chart = remove_duplicated_counts(citations,metrics.fetch(:citations_histogram, {}), attributes.fetch("published", nil).to_i )
  - gon.chart_citations = citations_chart.fetch("years", [])
  - gon.yop = attributes.fetch("published", nil).to_i


.panel.panel-default
  .panel-body
    %h3.work
      %a{:id => "title-link", :href => works_action(item, new_params), :title => "Go to landing page"}
        = attributes["title"]
    - if attributes["author"].present?
      = author_format(attributes["author"])
    .metadata
      = metadata_format(attributes, work_types: work_types)
    - if attributes["description"].present?
      .description
        = description_format(attributes["description"])
    - if attributes["license"].present?
      .license
        %a{:href => attributes["license"]}
          = license_img(attributes["license"])

  .panel-footer
    - if (views + downloads + citations).zero?
      %span.metrics{id: "summary-citations"}
        .fa.fa-info-circle 
        No citations were reported. No usage information was reported.
    - else
      - if citations.positive?
        %span.metrics{id: "summary-citations"}
          .fa.fa-quote-left
          = pluralize(citations, "citation")
      - else
        %span.metrics
          .fa.fa-info-circle 
          No citations were reported. 
      - if (views + downloads).positive?
        %span.metrics{id: "summary-views"}
          .fa.fa-eye
          = pluralize(views, "view")
        %span.metrics{id: "summary-downloads"}
          .fa.fa-download
          = pluralize(downloads, "download")
      - else
        %span.metrics{id: "summary-views"}
          .fa.fa-info-circle 
          No usage information was reported.

  - if @work.present? && @work.fetch(:data, {}).fetch("attributes", {}).fetch("related-identifiers", nil).present? && @work.fetch(:data, {}).fetch("id", "work") != item["id"]
    .panel-footer
      = relation_type_title(@work.fetch(:data, {}).fetch("attributes", {}).fetch("related-identifiers"), item["id"]) + " " + @work.fetch(:data, {}).fetch("id", nil)

  .panel-footer.item-links
    %a{:id => "doi-link", :href => item["id"], :title => "Go to landing page"}
      %i.fa.fa-external-link
      = item["id"]
    - if attributes["doi"].present?
      %a.cite-link.nowrap{href: '#', onclick: "showCiteBox(\"#{attributes["doi"]}\", \"#{title}\"); return false;"}
        %i.fa.fa-quote-left
        Cite

    - if user_signed_in? && is_person?
      = haml :'works/claim', locals: { item: item }

- if @work.present? && (views + downloads + citations).positive?
  = haml :'works/visualisation', locals: { attributes: attributes, views: views, downloads: downloads, citations: citations }
- if @work.present?
  - data_center = @work[:included].find { |i| i.fetch("type", nil) == "data-centers" }
  - client_name = data_center.fetch("attributes", {}).fetch("title", nil)
  = haml :'works/citations', locals: { attributes: attributes, client_name: client_name, citations: citations, duplicated: has_duplicated, summary: metrics}
- if @work.present? && (views + downloads).zero?
  .panel-body.alert.alert-simple-info
    = "This data repository is not currently reporting usage information. For information on how your repository can submit usage information, please see"
    %a{href: 'https://support.datacite.org/docs/views-and-downloads'}
      our documentation.