- attributes = item.fetch("attributes", {})
- type = attributes.fetch("resource-type-id", nil)
- includes = @works.present? ? @works[:included] : @work[:included]
- work_types = Array.wrap(includes).select { |item| item["type"] == "work-types" }
- new_params = params[:model] == "works" && params["id"] == attributes.fetch("doi", nil) ? params.merge(external_link: true) : params
- title = Array.wrap(attributes["titles"]).first.to_h.fetch("title", nil).to_s.gsub(/"/, '\"')
- if @work.present? && attributes["viewsOverTime"].present?
  - gon.chart_views = attributes["viewsOverTime"].map { |d| { "id" => d["yearMonth"], "title" => Date.strptime(d["yearMonth"], '%Y-%m').strftime('%B %Y'), "sum" => d["total"] } }
  - gon.yop = attributes.fetch("published", "").to_i
- if @work.present? && attributes["downloadsOverTime"].present?
  - gon.chart_downloads = attributes["downloadsOverTime"].map { |d| { "id" => d["yearMonth"], "title" => Date.strptime(d["yearMonth"], '%Y-%m').strftime('%B %Y'), "sum" => d["total"] } }
  - gon.yop = attributes.fetch("published", "").to_i
- if @work.present? && attributes["citationsOverTime"].present?
  - gon.chart_citations = attributes["citationsOverTime"].map { |d| { "id" => d["year"], "title" => d["year"], "sum" => d["total"] } }
  - gon.yop = attributes.fetch("published", nil).to_i
-# - citation_events = includes.select { |e| e.dig("relationships", "doiForTarget", "data", "id") == attributes["doi"] }
-# - reference_events = includes.select { |e| e.dig("relationships", "doiForSource", "data", "id") == attributes["doi"] }
-# - list = JSON.generate({:citations => citation_events, :references => reference_events }, quirks_mode: true)

.panel.panel-default
  .panel-body
    %h3.work
      %a{:id => "title-link", :href => works_action(item, new_params), :title => "Go to landing page"}
        = title
    - if attributes["creators"].present?
      = author_format(attributes["creators"])
    .metadata
      = metadata_format(attributes, work_types: work_types)
    - if attributes["descriptions"].present?
      .description
        = description_format(attributes["descriptions"])
    - if attributes["license"].present?
      .license
        %a{:href => attributes["license"]}
          = license_img(attributes["license"])

  .panel-footer
    - if (attributes["citationCount"].to_i + attributes["viewCount"].to_i + attributes["downloadCount"].to_i).zero?
      %span.metrics{id: "summary-citations"}
        .fas.fa-info-circle 
        No citations were reported. No usage information was reported.
    - else
      - if attributes["citationCount"].to_i.positive?
        %span.metrics{id: "summary-citations"}
          .fas.fa-quote-left
          = pluralize(attributes["citationCount"].to_i, "citation")
      - else
        %span.metrics
          .fas.fa-info-circle 
          No citations were reported. 
      - if (attributes["viewCount"].to_i + attributes["download-count"].to_i).positive?
        %span.metrics{id: "summary-views"}
          .fas.fa-eye
          = pluralize(attributes["viewCount"].to_i, "view")
        %span.metrics{id: "summary-downloads"}
          .fas.fa-download
          = pluralize(attributes["downloadCount"].to_i, "download")
      - else
        %span.metrics{id: "summary-views"}
          .fas.fa-info-circle 
          No usage information was reported.

  - if @work.present? && @work.fetch(:data, {}).fetch("attributes", {}).fetch("related-identifiers", nil).present? && @work.fetch(:data, {}).fetch("id", "work") != item["id"]
    .panel-footer
      = relation_type_title(@work.fetch(:data, {}).fetch("attributes", {}).fetch("related-identifiers"), item["id"]) + " " + @work.fetch(:data, {}).fetch("id", nil)

  .panel-footer.item-links
    %a{:id => "doi-link", :href => doi_as_url(item["id"]), :title => "Go to landing page"}
      %i.fas.fa-external-link-alt
      = doi_as_url(item["id"])
    - if attributes["doi"].present?
      %a.cite-link.nowrap{href: '#', onclick: "showCiteBox(\"#{attributes["doi"]}\", \"#{title}\"); return false;"}
        %i.fas.fa-quote-left
        Cite

    - if user_signed_in? && is_person?
      = haml :'works/claim', locals: { item: item }

- if @work.present? && (attributes["citationCount"].to_i + attributes["viewCount"].to_i + attributes["downloadCount"].to_i).positive?
  = haml :'works/visualisation', locals: { attributes: attributes, views: attributes["viewsOverTime"], downloads: attributes["downloadsOverTime"], citations: attributes["citationsOverTime"] }
- if @work.present?
  - data_center = @work[:included].find { |i| i.fetch("type", nil) == "clients" }
  - client_name = data_center.fetch("attributes", {}).fetch("name", nil)
  -# = haml :'works/citations', locals: { attributes: attributes, client_name: client_name }
- if @work.present? && (attributes["viewCount"].to_i + attributes["downloadCount"].to_i).zero?
  .panel-body.alert.alert-simple-info
    = "This data repository is not currently reporting usage information. For information on how your repository can submit usage information, please see"
    %a{href: 'https://support.datacite.org/docs/views-and-downloads'}
      our documentation.
