- attributes = item.fetch("attributes", {})
- includes = @works.present? ? @works[:included] : @work[:included]
- work_types = includes.select { |item| item["type"] == "work-types" }
- sources = @works.present? ? @works[:meta].fetch("sources", []) : []
- new_params = params[:model] == "works" && params["id"] == attributes.fetch("doi", nil) ? params.merge(external_link: true) : params
- title = attributes["title"].to_s.gsub(/"/, '\"')
- views = metrics.to_h.fetch("total-dataset-investigations-regular",0).to_i +  metrics.to_h.fetch("total-dataset-investigations-machine",0).to_i 
- downloads =  metrics.to_h.fetch("total-dataset-requests-regular",0).to_i + metrics.to_h.fetch("total-dataset-requests-machine",0).to_i 
- resolutions =  metrics.to_h.fetch("total-resolutions-regular",0).to_i + metrics.to_h.fetch("total-resolutions-machine",0).to_i 
- citations =  metrics.to_h.fetch("references",0).to_i + metrics.to_h.fetch("cites",0).to_i 

.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => works_action(item, new_params)}
        = attributes["title"]
    - if attributes["author"].present?
      = author_format(attributes["author"])
    .metadata
      = metadata_format(attributes, work_types: work_types)
    - if attributes["description"].present?
      .description
        = description_format(attributes["description"])
    - if attributes["license"].present?
      .license
        %a{:href => attributes["license"]}
          = license_img(attributes["license"])

  - if Array.wrap(metrics).any? && ENV['RACK_ENV'] != "production"
    .panel-footer
      - unless views < 1
        %span
          .fa.fa-eye
          = "#{views} Views"
      - unless downloads < 1
        %span
          .fa.fa-arrow-circle-down
          = "#{downloads} Downloads"
      - unless resolutions < 1
        %span
          .fa.fa-bolt
          = "#{resolutions} Resolutions"
      - unless citations < 1 
        %span
          .fa.fa-thumbs-o-up
          = "#{citations} Citations"
                    

  - if @work.present? && @work.fetch(:data, {}).fetch("attributes", {}).fetch("related-identifiers", nil).present? && @work.fetch(:data, {}).fetch("id", "work") != item["id"]
    .panel-footer
      = relation_type_title(@work.fetch(:data, {}).fetch("attributes", {}).fetch("related-identifiers"), item["id"]) + " " + @work.fetch(:data, {}).fetch("id", nil)

  .panel-footer.item-links
    %a{:href => item["id"]}
      %i.fa.fa-external-link
      = item["id"]
    - if attributes["doi"].present?
      %a.cite-link.nowrap{href: '#', onclick: "showCiteBox(\"#{attributes["doi"]}\", \"#{title}\"); return false;"}
        %i.fa.fa-quote-left
        Cite

    - if user_signed_in? && attributes["member-id"].to_i == 0
      = haml :'works/claim', locals: { item: item }
