- if @works[:data].length > 0
  - if @works[:data].length > 1
    %h3.results
      = "#{number_with_delimiter(@works[:meta]["total"])} Works"

  - @works[:data].each do |item|
    = haml :'works/item', locals: { item: item }

  .text-center
    = will_paginate @works[:data], renderer: BootstrapPagination::Sinatra, inner_window: 1

- else
  - if @works[:errors].present?
    .alert.alert-warning
      = @works[:errors].first.fetch("title", "An error occured.")
  - else
    .alert.alert-simple-info
      Nothing found.
