- if flash[:error].present?
  %div.alert.alert-warning
    = flash[:error]

- if @works.length > 0
  - if @works.length > 1
    %h4.results
      = "#{number_with_delimiter(@meta['total'])} Works"

  - @works.each do |item|
    = haml :'works/item', locals: { item: item }

  .text-center
    = will_paginate @works, renderer: BootstrapPagination::Sinatra

- else
  %div.alert.alert-info
    Nothing found.
