= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9#content-work
        - if @work[:data].present?
          = haml :'works/item', locals: { item: @work }
        - elsif @work_error.present?
          %div.alert.alert-warning
            = @work_error

      - if @work[:data].present?
        .col-md-3
          .panel.facets
            .panel-body.metadata
              - if @registration_agency.fetch("id", nil) == "datacite"
                %h5
                  Data Center
                .data-center
                  %a{href: "/data-centers/#{publisher_id}"}
                    = @publisher.fetch("title", nil)
              - elsif @publisher.present?
                %h5
                  Publisher
                .data-center
                  %a{href: "/data-centers/#{publisher_id}"}
                    = @publisher.fetch("title", nil)
              - if @registration_agency.fetch("id", nil) == "datacite"
                %h5
                  Member
                .registration_agency
                  %a{href: "/members/#{member_id}"}
                    = @member.fetch("title", nil)
              - elsif @registration_agency.present?
                %h5
                  Registration Agency
                .registration_agency
                  = @registration_agency.fetch("title", nil)

          .panel.tags
            .panel-body
              .bottom-teaser.cf
                .isLeft
                  %h5
                    %span
                      Share on
                  - settings.social.each do |social|
                    - href = social['share_url'] + social['share_title'] + (@work.fetch("attributes", {}).fetch("title", nil)).to_s + social['share_link'] + @work.fetch("id", "")
                    %a{href: href, class: "icon-#{social['icon']} share", onclick: "window.open(this.href, '#{social['icon']}-share', 'width=550,height=255');return false;"}
                      %i.fa{class: "fa-#{social['icon']}"}
                      %span.hidden
                        = social['icon']

    - if @relations[:data].length > 0 || @contributions[:data].length > 0
      %ul.nav.nav-pills
        - if @relations[:data].length > 0
          %li.active
            %a{href: "#relations", data: { toggle: "tab" } }
              Relations
              - if @relations[:data].length > 0
                %span.badge
                  = number_with_delimiter(@relations[:meta]['total'])
        - if @contributions[:data].length > 0
          - if @relations[:data].length > 0
            %li
              %a{href: "#contributions", data: { toggle: "tab" } }
                Contributions
                %span.badge
                  = number_with_delimiter(@contributions[:meta]['total'])
          - else
            %li.active
              %a{href: "#contributions", data: { toggle: "tab" } }
                Contributions
                %span.badge
                  = number_with_delimiter(@contributions[:meta]['total'])

      .tab-content
        - if @relations[:data].length > 0
          .tab-pane.active#relations
            .row
              .col-md-9.panel-list#content-relations
                = haml :'relations/index'

              .col-md-3
                = haml :'relations/facets'

        - if @contributions[:data].length > 0
          - if @relations[:data].length > 0
            .tab-pane#contributions
              .row
                .col-md-9.panel-list#content-contributions
                  = haml :'contributions/index'

                .col-md-3
                  = haml :'contributions/facets'
          - else
            .tab-pane.active#contributions
              .row
                .col-md-9#content-contributions
                  = haml :'contributions/index'

                .col-md-3
                  = haml :'contributions/facets'

= haml :cite_box

%script{:type => 'text/javascript', :src => '/javascripts/itemlist.js'}

= haml :"#{ENV['RA']}/footer"
