%ul.nav.nav-tabs.usage{:role => "tablist"}
  - if citations > 0
    %li.nav-item
      %a#citations-tab.nav-link.active{"aria-controls" => "citations", "aria-selected" => "true", "data-toggle" => "tab", :href => "#citations", :role => "tab"} #{pluralize(citations, "Citation")}

  - if views > 0 && citations > 0
    %li.nav-item.usage
      %a#views-tab.nav-link{"aria-controls" => "views", "aria-selected" => "false", "data-toggle" => "tab", :href => "#views", :role => "tab"} #{pluralize(views, "View")}
  - elsif views > 0
    %li.nav-item.usage
      %a#views-tab.nav-link.active{"aria-controls" => "views", "aria-selected" => "true", "data-toggle" => "tab", :href => "#views", :role => "tab"} #{pluralize(views, "View")}

  - if downloads > 0 && views > 0
    %li.nav-item.usage
      %a#downloads-tab.nav-link{"aria-controls" => "downloads", "aria-selected" => "false", "data-toggle" => "tab", :href => "#downloads", :role => "tab"} #{pluralize(downloads, "Download")}
  - elsif downloads > 0
    %li.nav-item.usage
      %a#downloads-tab.nav-link.active{"aria-controls" => "downloads", "aria-selected" => "true", "data-toggle" => "tab", :href => "#downloads", :role => "tab"} #{pluralize(downloads, "Download")}

.panel.panel-default
  .panel-body.usage-charts
    %div#myTabContent.tab-content
      - if citations > 0
        .row#citations.tab-pane.fade{"aria-labelledby" => "citations-tab", :role => "tabpanel", :style => "position: relative;"} 
          .col-lg-12
            .row
              .p{:style => "padding-left:20px;"}
                = "<small>#{pluralize(citations, "citation")} reported since publication in #{attributes.fetch("published", "")}.</small>"
              .row#citations-chart{:style => "padding-left:10px;"}
      - if views > 0
        .row#views.tab-pane.active{"aria-labelledby" => "views-tab", :role => "tabpanel",:style => "position: relative;"} 
          .col-lg-12
            .row
              .p{:style => "padding-left:20px;"}
                = "<small>#{pluralize(views, "view") } reported since publication in #{attributes.fetch("published", "")}.</small>"
            .row#views-chart{:style => "padding-left:10px;"}              
            %br
            .row{:style => "position: relative;"}
              .col-md-8
                .p
                  These counts follow the 
                  %a{href: 'https://www.projectcounter.org/'}
                    COUNTER Code of Practice,
                  = "meaning that Internet robots and repeats within a certain time frame are excluded.</br> "
                  %a{href: 'https://support.datacite.org/docs/usage-stats'}
                    What does this mean?

      - if downloads > 0
        .row#downloads.tab-pane.fade{"aria-labelledby" => "downloads-tab", :role => "tabpanel", :style => "position: relative;"} 
          .col-lg-12
            .row
              .p{:style => "padding-left:20px;"}
                = "<small>#{pluralize(downloads, "download") } reported since publication in #{attributes.fetch("published", "")}.</small>"
            .row#downloads-chart{:style => "padding-left:10px;"}
            %br
            .row
              .col-md-8
                .p
                  These counts follow the 
                  %a{href: 'https://www.projectcounter.org/'}
                    COUNTER Code of Practice,
                  = "meaning that Internet robots and repeats within a certain time frame are excluded.</br> "
                  %a{href: 'https://support.datacite.org/docs/usage-stats'}
                    What does this mean?
        