= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9.panel-list#content
        = haml :'people/search'

        - if @people[:data].length > 0
          - if @people[:data].length > 1
            %h3.results
              = "#{number_with_delimiter(@people[:meta]['total'])} People"

          - @people[:data].each do |item|
            = haml :'people/item', locals: { item: item }

          .text-center
            = will_paginate @people[:data], renderer: BootstrapPagination::Sinatra, inner_window: 1

        - else
          - if @people[:errors].present?
            .alert.alert-warning
              = @people[:errors].first.fetch("title", "An error occured.")
          - else
            .alert.alert-simple-info
              Nothing found.

= haml :"#{ENV['RA']}/footer"
