= haml :"#{ENV['RA']}/header", locals: { page: {} }

%script{type: "application/ld+json"}
  = contributor_as_json_ld(id: @person[:data]["orcid"], attributes: @person[:data]["attributes"])

.container-fluid
  .content
    .row
      - if @person[:data].present?
        .col-md-9#content-contributor
          = haml :'people/item', locals: { item: @person[:data] }

      - if @person[:errors].present? && @person[:errors].first.fetch("status", nil) == "400"
        .col-md-9
          .alert.alert-simple-info
            = @person[:errors].first.fetch("title", "")
      - elsif @person[:errors].present?
        .col-md-9
          .alert.alert-warning
            = @person[:errors].first.fetch("title", "")

      - else
        - if @works[:data].length > 0
          .col-md-9
            = haml :'works/search'

        .col-md-9.panel-list#content-works
          = haml :'works/list'

        - if @works[:data].length > 0
          .col-md-3
            = haml :'works/facets'

          = haml :cite_box

= haml :"#{ENV['RA']}/footer"
