.panel.facets
  - if @contributions[:meta]["sources"].present? && @source.nil?
    .panel-body
      %h4
        Sources
      %ul
        - @contributions[:meta]["sources"].each do |f|
          - if params['source-id'] == f.fetch("id", nil)
            %li.active
              %a{:href => works_query(params.except('source-id'))}
                %i.fa.fa-check-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('source-id' => f.fetch("id", nil)))}
                %i.fa.fa-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
  - if @contributions[:meta]["publishers"].present? && @work.nil?
    .panel-body
      %h4
        Data Centers
      %ul
        - @contributions[:meta]["publishers"].each do |f|
          - if params['publisher-id'] == f.fetch("id", nil)
            %li.active
              %a{:href => works_query(params.except('publisher-id'))}
                %i.fa.fa-check-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => works_query(params.merge('publisher-id' => f.fetch("id", nil)))}
                %i.fa.fa-square-o
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
