.panel.facets
  - if @meta["sources"].present?
    .panel-body
      %h4
        Sources
      %ul
        - @meta["sources"].each do |s|
          - if params['source-id'] == s.first
            %li.active
              %a{:href => works_query(params.except('source-id'))}
                %i.fa.fa-check-square-o
              = source_title(@sources, s.first)
              %span.number.pull-right= "#{number_with_delimiter(s.last)}"
          - else
            %li
              %a{:href => works_query(params.merge('source-id' => s.first))}
                %i.fa.fa-square-o
              = source_title(@sources, s.first)
              %span.number.pull-right= "#{number_with_delimiter(s.last)}"
