.panel.facets
  - if @meta["contribution-sources"].present?
    .panel-body
      %h4
        Sources
      %ul
        - @meta["contribution-sources"].sort_by { |k,v| -v }.each do |s|
          - if params['source-id'] == s.first
            %li.active
              %a{:href => contributions_query(params.except('source-id'))}
                %i.fa.fa-check-square-o
              .facet-title
                = source_title(@contribution_sources, s.first)
              %span.number.pull-right= "#{number_with_delimiter(s.last)}"
              .clearfix
          - else
            %li
              %a{:href => contributions_query(params.merge('source-id' => s.first))}
                %i.fa.fa-square-o
              .facet-title
                = source_title(@contribution_sources, s.first)
              %span.number.pull-right= "#{number_with_delimiter(s.last)}"
              .clearfix
