- if @contributions[:data].length > 0
  - if @contributions[:data].length > 1
    %h3.results
      = "#{number_with_delimiter(@contributions[:meta]["total"])} Contributions"

- @contributions[:data].each do |item|
  - if params[:model] == "works"
    = haml :'contributions/contributor_item', locals: { item: item }
  - else
    = haml :'contributions/work_item', locals: { item: item }

- if %w(contributors sources).include?(params[:model])
  .text-center
    = will_paginate @contributions[:data], renderer: BootstrapPagination::Sinatra, inner_window: 1
