- attributes = item.fetch("attributes", {})

%script{type: "application/ld+json"}
  = work_as_json_ld(id: attributes["obj-id"], attributes: attributes)

.panel.panel-default
  .panel-body
    %h3.work
      %a{:href => works_action(item, params)}
        = attributes["title"]
    - if attributes["author"].present?
      = author_format(attributes["author"])
    .metadata
      = metadata_format(attributes)
    - if attributes["description"].present?
      .description
        = description_format(attributes["description"])

  .panel-footer
    %span
    - if params[:model] == "sources"
      Contributed by
      %a{href: contributors_action(item, params)}
        = attributes["credit-name"]
    - else
      Contribution

    %span.pull-right
      = source_title(@contributions[:included].select {|item| item["type"] == "sources" }, item.fetch("relationships", {}).fetch("source", {}).fetch("data", {}).fetch("id", nil))

  - if attributes["results"].present?
    - attributes["results"].each do |k, v|
      .panel-footer
        %span.badge
          = number_with_delimiter(v)
        = (v > 1 ? " Related Identifiers" : " Related Identifier")
        .pull-right
          = source_title(@contributions[:included].select {|item| item["type"] == "sources" }, k)

  .panel-footer.item-links
    %a{:href => attributes["obj-id"]}
      %i.fa.fa-external-link
      = attributes["obj-id"]
    - if attributes["doi"].present?
      %a.cite-link.nowrap{:href => "javascript:showCiteBox('#{attributes["doi"]}', '#{attributes["title"]}');"}
        %i.fa.fa-quote-left
        Cite

    - if user_signed_in?
      = haml :'works/claim', locals: { item: item }
