- if @meta["groups"].present?
  .panel.facets
    .panel-body
      %h4
        Groups
      %ul
        - @meta["groups"].each do |g|
          %li
            - if params["group-id"].present?
              %a{:href => "/sources?q=#{params[:q]}"}
                %i.fa.fa-check-square-o
            - else
              %a{:href => "/sources?group-id=#{g.first}&q=#{params[:q]}"}
                %i.fa.fa-square-o
            .facet-title
              = group_title(@groups, g.first)
            %span.number.pull-right
              = number_with_delimiter(g.last)
            .clearfix
