= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9
        = haml :'sources/search'

    .row
      .col-md-9.panel-list#content
        - if @sources[:data].length > 0
          - if @sources[:data].length > 1
            %h3.results
              = "#{number_with_delimiter(@sources[:meta]["total"])} Sources"

          - @sources[:data].each do |item|
            = haml :'sources/item', locals: { item: item }

        - else
          - if @sources[:errors].present?
            .alert.alert-warning
              = @sources[:errors].first.fetch("title", "An error occured.")
          - else

      .col-md-3
        = haml :'sources/facets'

= haml :"#{ENV['RA']}/footer"
