.panel.panel-default
  .panel-body
    %h3.work
      - if params[:id].present?
        = item.fetch("attributes", {}).fetch("title", nil)
      - else
        %a{:href => '/sources/' + item["id"]}
          = item.fetch("attributes", {}).fetch("title", nil)
    .description
      = item.fetch("attributes", {}).fetch("description", nil)

  .panel-footer
    %i.fa.fa-info-circle
    = item["id"]
    %span.pull-right
      = item.fetch("attributes", {}).fetch("group-id", "").humanize
