= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9#content-work
        = haml :'sources/item', locals: { item: @source }

      - if @works.present?
        .col-md-9.panel-list#content-works
          = haml :'works/list'

        .col-md-3
          = haml :'works/facets'

      - elsif @contributions.present?
        .col-md-9.panel-list#content-works
          = haml :'contributions/index'

        .col-md-3
          = haml :'contributions/facets'

= haml :cite_box

= haml :"#{ENV['RA']}/footer"
