- if @datacenters[:meta]["years"].present?
  .panel.facets
    .panel-body
      %h4
        Year Joined
      %ul
        - @datacenters[:meta]["years"].each do |f|
          - if params['year'] == f.fetch("id", nil)
            %li.active
              %a{:href => data_centers_query(params.except('year'))}
                %i.far.fa-check-square
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => data_centers_query(params.merge('year' => f.fetch("id", nil)))}
                %i.far.fa-square
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix

- if @datacenters[:meta]["members"].present?
  .panel.facets
    .panel-body
      %h4
        Members
      %ul
        - @datacenters[:meta]["members"].each do |f|
          - if params['member-id'] == f.fetch("id", nil)
            %li.active
              %a{:href => data_centers_query(params.except('member-id'))}
                %i.far.fa-check-square
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
          - else
            %li
              %a{:href => data_centers_query(params.merge('member-id' => f.fetch("id", nil)))}
                %i.far.fa-square
              .facet-title
                = f.fetch("title", nil)
              %span.number.pull-right= "#{number_with_delimiter(f.fetch("count", 0))}"
              .clearfix
