= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9.panel-list#content
        = haml :'contributors/search'

        - unless flash[:error].nil?
          .alert.alert-warning
            = flash[:error]

        - if @contributors[:data].length > 0
          - if @contributors[:data].length > 1
            %h3.results
              = "#{number_with_delimiter(@contributors[:meta]['total'])} Contributors"

          - @contributors[:data].each do |item|
            = haml :'contributors/item', locals: { item: item }

          .text-center
            = will_paginate @contributors[:data], renderer: BootstrapPagination::Sinatra, inner_window: 1

        - else
          .alert.alert-simple-info
            Nothing found.

= haml :"#{ENV['RA']}/footer"
