= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .content
    .row
      .col-md-9#content-contributor
        - if @contributor[:errors].present?
          %div.alert.alert-warning
            = @contributor[:errors].first.fetch("title", "")
        - elsif @contributor[:data].present?
          = haml :'contributors/item', locals: { item: @contributor[:data] }

      .col-md-9.panel-list#content-contributions
        = haml :'contributions/index'

      .col-md-3
        = haml :'contributions/facets'

= haml :cite_box

%script{:type => 'text/javascript', :src => '/javascripts/itemlist.js'}

= haml :"#{ENV['RA']}/footer"
