= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .row
    .col-md-9#content-contributor
      = haml :'contributors/item', locals: { item: @contributor }

    .col-md-9#content-contributions
      = haml :'contributions/index'

    .col-md-3
      = haml :'contributions/facets'

= haml :cite_box

%script{:type => 'text/javascript', :src => '/javascripts/itemlist.js'}

= haml :"#{ENV['RA']}/footer"
