= haml :"#{ENV['RA']}/header", locals: { page: {} }

.container-fluid
  .row
    .col-md-9#content-contributor
      = haml :'contributors/item', locals: { item: @contributor }

    .col-md-9#content-contributions
      = haml :'contributions/index'

= haml :"#{ENV['RA']}/footer"
